# Python
/venv
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# environment variables
.env

# IDE and editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.egg-info/
dist/
build/